@{
    ViewBag.Title = "报表列表";
}

<div class="span2">
    <h2>商品上传统计</h2>
    <p>商品上传统计.</p>
    <p>@Html.ActionLink2("进入","ProductByBrand",null,new {@class = "btn"})</p>
</div>
<div class="span2">
    <h2>代金券使用查询</h2>
    <p>代金券使用查询.</p>
    <p>@Html.ActionLink2("进入","StoreCouponUsage",null,new {@class = "btn"})</p>
</div>
<div class="span2">
    <h2>代金券流水查询</h2>
    <p>代金券流水查询.</p>
    <p>@Html.ActionLink2("进入","Search","StoreCouponReport",null,new {@class = "btn"})</p>
</div>
<div class="span2">
    <h2>优惠码领用查询</h2>
    <p>优惠码领用查询.</p>
    <p>@Html.ActionLink2("进入","Search","CouponCodeReport",null,new {@class = "btn"})</p>
</div>
