@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*new { enctype = "multipart/form-data" }比不可少，否则上传文件不会成功 *@
<form action="http://10.32.11.65:9550/api/product/create" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>
                <text>选择上传文件：</text>
                <input name="file1" type="file" id="file1" /></td>
        </tr>
        <tr>
            <td>
                <text>选择上传文件：</text>
                <input name="file2" type="file" id="file2" /></td>
        </tr>
        <tr>
            <td>
                <label for="Name">Name</label>
                <input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>
                <label for="Description">Description</label>
                <input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>
                <label for="Price">Price</label>
                <input type="text" name="Price" value="20" /></td>
        </tr>
        <tr>
            <td>
                <label for="storeid">storeid</label>
                <input type="text" name="storeid" value="storeid" /></td>
        </tr>

        <tr>
            <td>
                <input type="hidden" name="uid" value="68e01158cddd2bd2aff7d6b8cf3b6c7e" />

                <input type="hidden" name="sign" value="17AA954847F11CB85032712BDE5FBD24" />
                <input type="hidden" name="client_version" value="1.0.0" />
                <input type="hidden" name="token" value="NljZjZRZVncBrXMjhdHzgSj84soCfjza/RMH5VS9OUw1zerZ2rTTUaRuua9uOWTs" />
                <input type="hidden" name="brandid" value="1000001" />
                <input type="hidden" name="tagid" value="2"/>
                
                
                <input type="hidden" name="test" value="(null)" />
                <input type="hidden" name="startdate" value="(null)"/>
                <input type="hidden" name="enddate" value="(null)"/>
            </td>
        </tr>

        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Upload" value="Upload" /></td>
        </tr>
    </table>
</form>
