@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form method="POST" action="http://localhost:10483/api/product/coupon/create?uid=57a353b88aef73b3683a7e3ba538b1e7&sign=31637115FF70F701D374CDB66B389D24&client_version=1.0">



    <input type="text" name="token" value="vJQICst1Gg9E3s9XarQqF43RKcvME6uulYDLcOzkpu9BKVqzs2PDrjFOS9y/Xbfb" />

    <input type="text" name="ispass" value="1" />
    <input type="text" name="productid" value="49" />

    <input type="submit" value="run" />
</form>
