<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="iphone" value="yintai123456"/>
  <add key="isenablesign" value="true"/>
  <add key="iscloseservice" value="false"/>

  <add key="domain" value="http://10.10.11.65:7070/"/>
  <add key="iphone1.0" value="yintai123456"/>

  <add key="webpages:Version" value="1.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="resourceimagedomain" value="fileupload/img/"/>
  <add key="resourcesounddomain" value="fileupload/audio/"/>
  <add key="resourcevideodomain" value="fileupload/video/"/>
  <add key="resourcedefdomain" value="fileupload/def/"/>
  <add key="resourcedomain" value="http://10.32.11.65:9550/"/>

  <add key="CacheProvider" value="Yintai.Architecture.Common,Yintai.Architecture.Common.Caching.AspNetCacheProvider"/>

  <add key="BulkFileFolder" value="~/Content/ProBulkTmp/" />
  
  <!--efCacheingConnection-->
  <add key="efconnection" value="efTracingConnection"/>

  <add key="pagesize_controller_action|brand_list" value="10"/>
  <add key="pagesize_controller_action|brand_index" value="10"/>

  <add key="pagesize_controller_action|comment_list" value="10"/>
  <add key="pagesize_controller_action|comment_index" value="10"/>
  
  <add key="pagesize_controller_action|feedback_list" value="10"/>
  <add key="pagesize_controller_action|feedback_index" value="10"/>
  
  <add key="pagesize_controller_action|product_list" value="10"/>
  <add key="pagesize_controller_action|product_index" value="10"/>

  <add key="pagesize_controller_action|promotion_list" value="10"/>
  <add key="pagesize_controller_action|promotion_index" value="10"/>

  <add key="pagesize_controller_action|store_list" value="10"/>
  <add key="pagesize_controller_action|store_index" value="10"/>

  <add key="pagesize_controller_action|tag_list" value="10"/>
  <add key="pagesize_controller_action|tag_index" value="10"/>

  <add key="pagesize_controller_action|customer_list" value="10"/>
  <add key="pagesize_controller_action|customer_index" value="10"/>

  <add key="pagesize_controller_action|point_list" value="10"/>
  <add key="pagesize_controller_action|point_index" value="10"/>

  <add key="pagesize_controller_action|resource_list" value="10"/>
  <add key="pagesize_controller_action|resource_index" value="10"/>

  <add key="pagesize_controller_action|specialtopic_list" value="10"/>
  <add key="pagesize_controller_action|specialtopic_index" value="10"/>

  <add key="pagesize_controller_action|probulkupload_index" value="10"/>
  <add key="pagesize_controller_action|probulkupload_list" value="10"/>
  <add key="pagesize_controller_action|order_listp" value="10"/>

  <add key="AWSAccessKey" value="AKIAIKVK4XSDVLFOPNBQ"/>
  <add key="AWSSecretKey" value="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"/>
  <add key="awssqsqueue" value="sql2mysql"/>

  <add key="pointratio2group" value="1"/>

  <add key="OrderShipNotice" value="提醒：
1.请保管好您的发货单，您可以凭此享受我司15天内无理由退货，详见背面退货流程。
2.发货单视同维保单，您不仅可凭此参加商品维护，也可凭此参加商品讲座、发货单抽奖等公司活动。
3.未开过发票的订单，凭此单据可在30日内索取发票。
4.您可以在快递员送件当场拒收此件。拒收商品不需要您承担任何费用，您只需要填下面“拒收原因”，并将所有商品一次性全部退回。本司暂不接受部分商品拒收、部分商品签收的业务。
5.有任何问题您可用以下方式联系“订单处理组”："/>
  <add key="reCAPTCHA::PublicKey" value="6LchXeMSAAAAAPb1jo4WM6dpU8C3ll9CO8itqCW3" />
  <add key="reCAPTCHA::PrivateKey" value="6LchXeMSAAAAAOfhJrALPCPfvt62RUCwbezNFznA" />
</appSettings>