<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="iphone" value="yintai123456"/>
  <add key="isenablesign" value="true"/>
  <add key="iscloseservice" value="false"/>

  <add key="domain" value="http://10.10.11.65:7070/"/>
  <add key="iphone1.0" value="yintai123456"/>

  <add key="webpages:Version" value="1.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="resourceimagedomain" value="fileupload/img/"/>
  <add key="resourcesounddomain" value="fileupload/audio/"/>
  <add key="resourcevideodomain" value="fileupload/video/"/>
  <add key="resourcedefdomain" value="fileupload/def/"/>
  <add key="resourcedomain" value="http://122.226.53.114:7070/"/>

  <add key="CacheProvider" value="Yintai.Architecture.Common,Yintai.Architecture.Common.Caching.AspNetCacheProvider"/>

  <add key="BulkFileFolder" value="~/Content/ProBulkTmp/" />
  
  <!--efCacheingConnection-->
  <add key="efconnection" value="efTracingConnection"/>

  <add key="pagesize_controller_action|brand_list" value="10"/>
  <add key="pagesize_controller_action|brand_index" value="10"/>

  <add key="pagesize_controller_action|comment_list" value="10"/>
  <add key="pagesize_controller_action|comment_index" value="10"/>
  
  <add key="pagesize_controller_action|feedback_list" value="10"/>
  <add key="pagesize_controller_action|feedback_index" value="10"/>
  
  <add key="pagesize_controller_action|product_list" value="10"/>
  <add key="pagesize_controller_action|product_index" value="10"/>

  <add key="pagesize_controller_action|promotion_list" value="10"/>
  <add key="pagesize_controller_action|promotion_index" value="10"/>

  <add key="pagesize_controller_action|store_list" value="10"/>
  <add key="pagesize_controller_action|store_index" value="10"/>

  <add key="pagesize_controller_action|tag_list" value="10"/>
  <add key="pagesize_controller_action|tag_index" value="10"/>

  <add key="pagesize_controller_action|customer_list" value="10"/>
  <add key="pagesize_controller_action|customer_index" value="10"/>

  <add key="pagesize_controller_action|point_list" value="10"/>
  <add key="pagesize_controller_action|point_index" value="10"/>

  <add key="pagesize_controller_action|resource_list" value="10"/>
  <add key="pagesize_controller_action|resource_index" value="10"/>

  <add key="pagesize_controller_action|specialtopic_list" value="10"/>
  <add key="pagesize_controller_action|specialtopic_index" value="10"/>

  <add key="pagesize_controller_action|probulkupload_index" value="10"/>
  <add key="pagesize_controller_action|probulkupload_list" value="10"/>

  <add key="AWSAccessKey" value="AKIAIKVK4XSDVLFOPNBQ"/>
  <add key="AWSSecretKey" value="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"/>
  <add key="awssqsqueue" value="sql2mysql"/>

  <add key="pointratio2group" value="1"/>
</appSettings>