@{

}
<div class="span3">
    <h2>新建专题</h2>
    <p>创建新的专题</p>
    <p>@Html.ActionLink2("进入","Create",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>专题维护</h2>
    <p>编辑维护专题 </p>
    <p><span>@Html.ActionLink2("进入","List",null,new {@class = "btn"})</span>
    </p>
</div>

<div class="span3">
    <h2>专题查询</h2>
    <p>查询专题信息</p>
    <p>@Html.ActionLink2("进入","List",null,new {@class = "btn"})</p>
</div>