<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="imageSetting" type="Yintai.Architecture.ImageTool.Configurations.ImageSettingConfig, Yintai.Architecture.FileUploadServer" />
    <sectionGroup name="commonIntime">
      <section name="aliyun" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <log4net configSource="Configurations\log4net.config" />
  <imageSetting configSource="Configurations\imageSetting.config" />
  <commonIntime>
    <aliyun configSource="Configurations\aliyun.config" />
  </commonIntime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="imagemegickExePath" value="D:\imagick\ImageMagick-6.7.0\convert.exe" />
    <add key="audiocompressionexepath" value="C:\ImageMagick632_16\convert.exe" />
    <add key="interval" value="00:03:00" />
    <add key="IsToS3" value="false" />
    <add key="AWSAccessKey" value="tobereplaced" />
    <add key="AWSSecretKey" value="tobereplaced" />
  </appSettings>
  <system.serviceModel>
    <diagnostics performanceCounters="All"></diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="YintaiUploadBasicBinding" transferMode="Streamed" maxReceivedMessageSize="1073741824" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Yintai.Architecture.FileUploadServer.FileUploadServerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Yintai.Architecture.FileUploadServer.FileUploadServerBehavior" name="Yintai.Architecture.ImageTool.Impl.ImageService">
        <endpoint address="" binding="basicHttpBinding" contract="Yintai.Hangzhou.Contract.Images.IImageService" bindingConfiguration="YintaiUploadBasicBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9100/File/Upload/Image" />
            <!--<add baseAddress="http://localhost:7100/File/Upload/Image"/>-->
            <!--<add baseAddress="http://localhost:8100/File/Upload/Image"/>-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>