update [YintaiHZhou].[dbo].[OPC_AuthMenu] set Url ='BrandList' where Id=32
select * from [YintaiHZhou].[dbo].[OPC_AuthMenu] where Id=32


update [YintaiHZhou].[dbo].[OPC_AuthMenu] set Url ='CounterList' where Id=43
select * from [YintaiHZhou].[dbo].[OPC_AuthMenu] where Id=43
  