@model TagPropertyValueViewModel
<tr>
    <td>
        @Html.DisplayFor(model => model.PropertyDesc)</td>
    <td>
        @Html.DisplayFor(model => model.ValueDesc)
    </td>
    <td>@Html.DisplayFor(model => model.SortOrder)
    </td>
   
</tr>


