<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="iphone" value="yintai123456"/>
  <add key="isenablesign" value="true"/>
  <add key="iscloseservice" value="false"/>

  <add key="domain" value="http://10.32.11.65:9550/"/>

  <add key="imagemegickExePath" value="C:\ImageMagick632_16\convert.exe" />
  <add key="audiocompressionexepath" value="C:\ffmpeg\bin\ffmpeg.exe" />


  <add key="iphone1.0" value="yintai123456"/>
  <add key="PassBookCertificateThumbprint" value="89 82 ca e4 3d 04 61 72 d0 6a ae 32 32 7d c0 0d 87 21 83 a7"/>
  <add key="appleappid" value="593839710"/>
  <!--efCacheingConnection-->
  <add key="efconnection" value="efTracingConnection"/>

  <add key="imagemegickpath" value="C:\ImageMagick632_16\"/>

  <add key="resourceimagedomain" value="fileupload/img/"/>
  <add key="resourcesounddomain" value="fileupload/sound/"/>
  <add key="resourcevideodomain" value="fileupload/video/"/>
  <add key="resourcedefdomain" value="fileupload/def/"/>
  <add key="resourcedomain" value="http://10.32.11.65:9550/"/>

  <add key="CacheProvider" value="Yintai.Architecture.Common,Yintai.Architecture.Common.Caching.AspNetCacheProvider"/>
</appSettings>