<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="iphone" value="yintai123456"/>
    <add key="isenablesign" value="true"/>
    <add key="iscloseservice" value="false"/>
  <add key="domain" value="http://10.32.11.65:9550/"/>
    <add key="iphone1.0" value="yintai123456"/>
  <add key="PassBookCertificateThumbprint" value="a2 20 f5 57 a5 23 11 49 0c 25 f4 80 50 f4 f9 8d 3d 0d bd de"/>
</appSettings>