<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
    <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="Yintai.Hangzhou.Data.Models.YintaiHangzhouContext,Yintai.Hangzhou.Data">
      <constructor>
        <param name="nameOrConnectionString" value="YintaiHangzhouContext" />
        <param name="version" value="v1" />
      </constructor>
      <lifetime type="HierarchicalLifetimeManager"/>
    </register>
    <register type="Yintai.Architecture.Common.Data.EF.IUnitOfWork,Yintai.Architecture.Common" mapTo="Yintai.Architecture.Common.Data.EF.UnitOfWork,Yintai.Architecture.Common">
      <constructor>
      </constructor>
      <lifetime type="HierarchicalLifetimeManager"/>
    </register>
  </container>
</unity>