@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    我们一直在努力
</p>


<p>
    2013-1-22
    增加积分关联账户
    关联产品和活动的图片
</p>
<p>
    2013-1-21
    fix bug，添加品牌时候判断为空的bug
</p>
<p>
    2013-1-20
    fix bug
    增加数据库索引
</p>
<p>
    2013-1-19
    更新后台主要查询功能，
    更新产品表SORT功能
</p>

