<h2>Success</h2>


@if (!String.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
{
    <a href="@ViewBag.ReturnUrl" target="_top">返回</a>
    <br />
}

@Html.ActionLink("返回列表页", "List", ViewContext.RouteData.Values["controller"].ToString(), new { target = "_top" })
