<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net configSource="Configurations\production\log4net.config" xdt:Transform="Replace"/>
  <appSettings configSource="Configurations\production\appSettings.config" xdt:Transform="Replace" />
  <unity configSource="Configurations\production\unity.config" xdt:Transform="Replace"/>

  <connectionStrings>
    <add name="YintaiHangzhouContext" connectionString="Data Source=centerdb.ceqizagnul2w.ap-southeast-1.rds.amazonaws.com;Initial Catalog=YintaiHzhou;Persist Security Info=True;User ID=APP_Hzhou;Password=yintai@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://ec2-122-248-202-246.ap-southeast-1.compute.amazonaws.com/File/Upload/Image" binding="basicHttpBinding" bindingConfiguration="ImageServiceBinding" contract="Yintai.Hangzhou.Contract.Images.IImageService" name="ImageServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>