<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1211">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net configSource="log4net.config" />
  <quartz>
    <add key="quartz.scheduler.instanceName" value="com.intime.mainjobscheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
  </quartz>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="erp-test" descriptor="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 218.244.176.56)(PORT = 17315)))(CONNECT_DATA =(SERVICE_NAME = YTWEB)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="YintaiHangzhouContext" connectionString="Data Source=BJDBS002\JHIDCDBS009;Initial Catalog=YintaiHzhou;Persist Security Info=True;User ID=APP_Hzhou;Password=!QA2ws;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ErpContext" connectionString="DATA SOURCE=erp-test;PASSWORD=test;PERSIST SECURITY INFO=True;POOLING=False;USER ID=YINTAIWEB" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIKVK4XSDVLFOPNBQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="awssqsqueue" value="sql2mysql" />
    <add key="point2groupratio" value="1" />
    <add key="appStoreNoInGroup" value="O2O" />
    <add key="EXPIC_DOMAIN" value="http://218.244.176.56:19185" />
    <add key="ERPSYN_DEFAULT_TAG" value="0" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImageServiceBinding" transferMode="Streamed" maxReceivedMessageSize="65535000"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.32.11.65:9100/File/Upload/Image" binding="basicHttpBinding" bindingConfiguration="ImageServiceBinding" contract="Yintai.Hangzhou.Contract.Images.IImageService" name="ImageServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>