<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
    <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="Yintai.Hangzhou.Data.Models.YintaiHangzhouContext,Yintai.Hangzhou.Data">
      <constructor>
      </constructor>
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>