<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
    <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="Yintai.Hangzhou.Data.Models.YintaiHangzhouContext,Yintai.Hangzhou.Data">
      <constructor>
      </constructor>
      <lifetime type="singleton"/>
    </register>
    <register type="Yintai.Hangzhou.Repository.Contract.IOrderRepository,Yintai.Hangzhou.Repository" mapTo="Yintai.Hangzhou.Repository.Impl.OrderRepository,Yintai.Hangzhou.Repository">
      <constructor>
      </constructor>
    </register>
    <register type="Yintai.Architecture.Common.Data.EF.IEFRepository[[Yintai.Hangzhou.Data.Models.IMS_AssociateIncomeHistoryEntity,Yintai.Hangzhou.Data]],Yintai.Architecture.Common" mapTo="Yintai.Architecture.Common.Data.EF.EFRepository[[Yintai.Hangzhou.Data.Models.IMS_AssociateIncomeHistoryEntity,Yintai.Hangzhou.Data]],Yintai.Architecture.Common">
    </register>
    <register type="Yintai.Architecture.Common.Data.EF.IEFRepository[[Yintai.Hangzhou.Data.Models.IMS_AssociateIncomeEntity,Yintai.Hangzhou.Data]],Yintai.Architecture.Common" mapTo="Yintai.Architecture.Common.Data.EF.EFRepository[[Yintai.Hangzhou.Data.Models.IMS_AssociateIncomeEntity,Yintai.Hangzhou.Data]],Yintai.Architecture.Common">
    </register>
  </container>
</unity>