<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="modules"
             type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <modules>
    <!-- <module assemblyFile="OPCApp.Order.dll" moduleType="OPCApp.Order.OrderModule, OPCApp.Order, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="OrderModule" startupLoaded="true" />
    <module assemblyFile="OPCApp.AuthManage.dll" moduleType="OPCApp.AuthManage.AuthModule,OPCApp.AuthManage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AuthModule" startupLoaded="true" />
   <module assemblyFile="ViewSwitchingNavigation.Email.dll" moduleType="ViewSwitchingNavigation.Email.EmailModule, ViewSwitchingNavigation.Email, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EmailModule" startupLoaded="true" />
    <module assemblyFile="ViewSwitchingNavigation.Calendar.dll" moduleType="ViewSwitchingNavigation.Calendar.CalendarModule, ViewSwitchingNavigation.Calendar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CalendarModule" startupLoaded="true" />-->
  </modules>

  <appSettings>
    <add key="updateAddress" value="http://111.207.166.96:8088" />
    <add key="consumerKey" value="100000001" />
    <add key="consumerSecret" value="test001" />
    <add key="apiAddress" value="http://111.207.166.196:8086/api/" />
    <!--<add key="apiAddress" value="http://localhost:1256/api/" />-->
    <add key="apiAddress2" value="http://121.199.55.172:8086/api/" />
    <add key="version" value="1.0.1"/>
  </appSettings>
</configuration>