<?xml version="1.0"?>
<alipay_ims>
  <add key="md5_key" value="fspap1djdq22vqbxv35nvjvrk478xnka" />
  <add key="private_key" value="" />
  <add key="public_key" value="" />
  <add key="partner" value="2088511086896835" />
  <add key="payment_code" value="272" />
  <add key="payment_code_giftcard" value="273" />
</alipay_ims>