
@section HeaderScripts {
    <script src="@Url.Content("~/Content/jstree/jstree.js")" type="text/javascript"></script>
}
@section HeaderStyles {
    <link href="@Url.Content("~/Content/jstree/themes/default/style.min.css")" rel="stylesheet" type="text/css" />
}
@section PageJsSection {
    <script>
        $('#wx_menutree').jstree({
            "core": {
                'data': {
                    'url': function (node) {
                        return "@(Url.Action("ajax_all"))";
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                },
                'check_callback':true
            },
            "types": {
                "#": {
                    "max_children": 3,
                    "max_depth": 3,
                    "valid_children": ["root"]
                },
                "root": {
                    "icon": "/static/3.0.0-beta10/assets/images/tree_icon.png",
                    "valid_children": ["default"]
                },
                "default": {
                    "valid_children": ["default"]
                }
            },
            "contextmenu": {
                "items": function (o, cb) { // Could be an object directly
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": true,
                            "_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
                            "label": "增加下级菜单",
                            "action": function (data) {
                                var inst = $.jstree.reference(data.reference),
                                    obj = inst.get_node(data.reference);
                                inst.create_node(obj, {}, "last", function (new_node) {
                                    setTimeout(function () { inst.edit(new_node); }, 0);
                                });
                            }
                        },
                        "Rename": {
                            "separator_before": false,
                            "separator_after": false,
                            "_disabled": false,
                            "label": "重命名",
                            "action": function (data) {
                                var inst = $.jstree.reference(data.reference),
                                    obj = inst.get_node(data.reference);
                                inst.edit(obj);
                            }
                        },
                        "Delete": {
                            "separator_before": false,
                            "icon": false,
                            "separator_after": false,
                            "_disabled": false,
                            "label": "删除",
                            "action": function (data) {
                                var inst = $.jstree.reference(data.reference),
                                    obj = inst.get_node(data.reference);
                                if (inst.is_selected(obj)) {
                                    inst.delete_node(inst.get_selected());
                                }
                                else {
                                    inst.delete_node(obj);
                                }
                            }
                        }
                    };
                }
            },
            "plugins":["contextmenu"]
           
        });
        var tree = $('#wx_menutree').jstree(true);
        function new_root_item(){
            $("#newMenuModal").modal('show');
        }
        function save_root_item() {
            var menuName = $("#newMenuModal_name").val();
            var menuUrl = $("#newMenuModal_url").val();
            var new_node = $('#wx_menutree').jstree(true).create_node('#', {'text':menuName,'url':menuUrl,'type':'root'});
            $("#newMenuModal").modal('hide');
        }
        function persist_all() {

        }

       
    </script>
}

<div>
    <div class="row">
        <div class="span3" >
            <div class="span3">
                <button class="btn btn-success" onclick="new_root_item();" >增加一级菜单</button>
            </div>
            <div class="span3" id="wx_menutree"></div>
        </div>
        <div class="span3">
        </div>
    </div>
</div>
<div class="modal fade" id="newMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">新加菜单</h4>
      </div>
      <div class="modal-body">
        <div class="editor-label">
            菜单名
        </div>
        <div class="editor-field">
            <input type="text" id="newMenuModal_name" />
        </div>
          <div class="editor-label">
            跳转链接地址：绝对路径
        </div>
        <div class="editor-field">
            <input type="text" id="newMenuModal_url" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="save_root_item();">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
