<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
      <register type="Yintai.Architecture.Common.Logger.ILog,Yintai.Architecture.Common" mapTo="Yintai.Architecture.Common.Logger.ConsoleLog,Yintai.Architecture.Common">
      </register>
     
  </container>
</unity>