<?xml version="1.0" encoding="utf-8"?>
<api xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources>
        <resource name="customer/outsitelogin" version="1.0">
            <param name="outsitetoken"></param>
            <param name="outsiteuid"></param>
            <param name="outsitenickname"></param>
            <param name="outsitetype"></param>
        </resource>
    </resources>
</api>
