<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="imageSetting" type="Yintai.Architecture.ImageTool.Configurations.ImageSettingConfig, Yintai.Architecture.ImageTool" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <log4net configSource="Configurations\log4net.config" />
  <appSettings configSource="Configurations\appSettings.config" />
  <unity configSource="Configurations\unity.config" />
  <imageSetting configSource="Configurations\imageSetting.config" />
  <connectionStrings>
    <!--<add name="YintaiHangzhouContext" connectionString="Data Source=.;Initial Catalog=YintaiHangzhou;Persist Security Info=True;User ID=sa;Password=!QA2ws;MultipleActiveResultSets=True"
     providerName="System.Data.SqlClient" />-->
    <add name="YintaiHangzhouContext" connectionString="Data Source=BJDBS002\JHIDCDBS009;Initial Catalog=YintaiHzhou;Persist Security Info=True;User ID=APP_Hzhou;Password=!QA2ws;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms" />
    <authorization>
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="GlobalErrorHandlerModule" type="Yintai.Architecture.Common.Web.HttpModules.GlobalErrorHandlerModule, Yintai.Architecture.Common" />
      <add name="RequstLogging" type="Yintai.Architecture.Common.Web.HttpModules.RequestLogginHttpModule, Yintai.Architecture.Common" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequstLogging" type="Yintai.Architecture.Common.Web.HttpModules.RequestLogginHttpModule,Yintai.Architecture.Common" />
      <add name="GlobalErrorHandlerModule" type="Yintai.Architecture.Common.Web.HttpModules.GlobalErrorHandlerModule,Yintai.Architecture.Common" />
    </modules>
    <handlers>
      <add name="MVC_Routing" path="*.*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImageServiceBinding" maxReceivedMessageSize="65535000"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.32.11.65:9100/File/Upload/Image" binding="basicHttpBinding" bindingConfiguration="ImageServiceBinding" contract="Yintai.Architecture.ImageTool.Contract.IImageService" name="ImageServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>