<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="YintaiHZhouContext" connectionString="Data Source=111.207.166.196,4331;Initial Catalog=YintaiHZhou;Persist Security Info=True;User ID=APP_Hzhou;Password=intime@123;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>