<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="YintaiHZhouContext2" connectionString="Data Source=.\sqlexpress;Initial Catalog=YintaiHZhou;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="YintaiHZhouContext" connectionString="Data Source=10.92.200.110,4331;Initial Catalog=YintaiHZhou;Persist Security Info=True;User ID=app_hzhou;Password=intime@123;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>