<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ImsData" connectionString="data source=10.92.200.110,4331;initial catalog=YintaiHZhou;persist security info=True;user id=APP_HZhou;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="ImsDataContext" connectionString="data source=10.92.200.110,4331;initial catalog=YintaiHZhou;persist security info=True;user id=APP_HZhou;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="ImsDataDbContext" connectionString="data source=10.92.200.110,4331;initial catalog=YintaiHZhou;persist security info=True;user id=APP_HZhou;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="YintaiHZhouContext" connectionString="Data Source=111.207.166.196,4331;Initial Catalog=YintaiHZhou;Persist Security Info=True;User ID=APP_HZhou;Password=intime@123;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>