<?xml version="1.0"?>

<imageSetting folder="D:tmp\" imageQuality="60" directory="">
  <!--key文件上传键名 suffix允许上传的文件类型 size允许上传的文件大小 folder文件上传的相对目录,目前只提供日期分级(年:{Year}月:{Month}日:{Day})-->
  <image key="promotion" suffix="jpg,jpeg,bmp,png" size="2048" folder="promotion/{Year}{Month}{Day}/" rootFolder="">
    <thumb key="1" mode="W" width="120" height="0"/>
    <thumb key="2" mode="W" width="320" height="0"/>
    <thumb key="3" mode="W" width="640" height="0"/>
    <thumb key="4" mode="W" width="240" height="0"/>
  </image>
  <image key="product" suffix="jpg,jpeg,bmp,png" size="2048" folder="product/{Year}{Month}{Day}/" rootFolder="">
    <thumb key="1" mode="W" width="120" height="0"/>
    <thumb key="2" mode="W" width="320" height="0"/>
    <thumb key="3" mode="W" width="640" height="0"/>
    <thumb key="4" mode="W" width="240" height="0"/>
  </image>

  <image key="customerportrait" suffix="jpeg,jpg,bmp,png" size="2560" folder="customerportrait/{0}/{1}/">
    <thumb key="1" mode="Cut" width="100" height="100"/>
    <thumb key="2" mode="Cut" width="200" height="200"/>
  </image>
  <image key="customertthumbbackground" suffix="jpeg,jpg,bmp,png" size="2560" folder="customerbg/{0}/{1}/">
    <thumb key="1" mode="Cut" width="320" height="320"/>
    <thumb key="2" mode="Cut" width="640" height="640"/>
  </image>

  <image key="brandlogo" suffix="jpeg,jpg,bmp,png" size="2560" folder="brandlogo/{Year}{Month}{Day}/">
    <thumb key="1" mode="Cut" width="100" height="100"/>
    <thumb key="2" mode="Cut" width="200" height="200"/>
  </image>

  <image key="specialtopic" suffix="jpeg,jpg,bmp,png" size="2560" folder="specialtopic/{Year}{Month}{Day}/">
    <thumb key="1" mode="W" width="620" height="0"/>
    <thumb key="2" mode="W" width="315" height="0"/>
  </image>

  <!-- type default 1 image  2 audio -->
  <image key="commentaudio" type="2" suffix="m4a" size="1024" folder="comment\{Year}{Month}{Day}\" rootFolder="E:\web\hangzhouV45\fileupload\audio\">
    <thumb key="1" mode="Cut" width="0" height="0"  />
  </image>

  <!-- type default 1 image  2 audio -->
  <image key="productaudio" type="2" suffix="m4a" size="1024" folder="product\{Year}{Month}{Day}\" rootFolder="E:\web\hangzhouV45\fileupload\audio\">
    <thumb key="1" mode="Cut" width="0" height="0"  />
  </image>

  <!-- type default 1 image  2 audio -->
  <image key="promotionaudio" type="2" suffix="m4a" size="1024" folder="promotion\{Year}{Month}{Day}\" rootFolder="E:\web\hangzhouV45\fileupload\audio\">
    <thumb key="1" mode="Cut" width="0" height="0"  />
  </image>
  

  <image key="bannerpromotion" suffix="jpeg,jpg,bmp,png" size="2560" folder="bannerpromotion/{Year}{Month}{Day}/">
    <thumb key="1" mode="Cut" width="640" height="88"/>
    <thumb key="2" mode="W" width="320" height="44"/>
  </image>
  <image key="storelogo" suffix="jpeg,jpg,bmp,png" size="2560" folder="storelogo/{Year}{Month}{Day}/">
    <thumb key="1" mode="Cut" width="320" height="200"/>
    <thumb key="2" mode="Cut" width="640" height="400"/>
  </image>

</imageSetting>
